body{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color:hsl(228, 45%, 44%) ;
    color: white;
    padding-top: 20px;
}

.container{
    border-radius: 15px;
    background-color: whitesmoke;
    color: hsl(228, 45%, 44%);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.459);
    width: 300px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: right;
    padding-right: 10px;
    padding-top: 30px;
}


.child{
    height: 400px;
    text-align: center;
    background-color: hsl(228, 45%, 44%);
    margin-top: 10px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.596);
}

.container-child{
    height: 40px;
    width: 50px;
    margin-right: 15px;
    margin-top: 10px;
    box-shadow: 2px 1px 1px 2px rgba(0, 0, 0, 0.432);
    margin-bottom: 10px;
    background-color:whitesmoke ;
    color: hsl(228, 45%, 44%);
    padding: 1px;
    float: right;
    border-radius: 15px;
}

.container-child:hover{
    color: white;
    background-color: black;
}

.container-child2{
    height: 50px;
    width: 100px;
    margin-right: 30px;
    margin-left: 5px;
    margin-top: 30px;
    box-shadow: 2px 1px 1px 2px rgba(0, 0, 0, 0.432);
    margin-bottom: 10px;
    background-color:whitesmoke ;
    color: hsl(228, 45%, 44%);
    padding: 3px;
    float: right;
    border-radius: 15px;
}
.container-child2:hover{
    color: white;
    background-color: black;
}
.del,.reset{
    background-color: hsl(228, 45%, 44%);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.equals{
background-color: red;
color: white;
}